@charset "UTF-8";

body{
	margin:0%;
	width:100%;
	min-width:900px;
	height:100%;
	font-family: 'Signika', sans-serif;
	
	
}
#earth{
	width:100%;
    opacity:0.8;
    height:100%;
    display:flex;
	align-items:center;
    
}

header{
	position:absolute;
	top : 1%;
	left: 35.5%;
	color:white;
	height:10%;
	display:flex;
	align-items:center;
	width: 60%; 
	
}
header h1{
	height:100%;
	display:flex;
	align-items:center;

}

form{
	position:absolute;
	background-color:white;
	top:13%;
	left:15%;
	display: flex;
	justify-content: space-between;
	width:70%;
	padding : 3% 0% 2% 0%;
	border-radius:5px;
	border-color:green;
	border-style:solid;
	box-shadow:0px 0px 15px rgb(120, 223, 120) inset;
	min-width:750px;
	max-height:900px;
}

section{
	width:45%;	
}
.infos_generales {
	padding-left:7%;
}
.infos_generales input{
	width: 50%;
	padding: 2%;
	border-radius: 5px;
}
#bouton_validation{
	position:absolute;
	top:105%;
	left : 40%;
	width:20%;
	padding : 1%;
	background-color:green;
	color:white;
	border-radius:10px;
}
#bouton_validation:hover{
	background-color:rgb(120, 223, 120);
	cursor:pointer;
}

#infos_particulieres {
	
	padding-right: 2%;
	
}

#boutoninscrit {
	
	padding-left: 20%;
	
}

#boutondejainscrit {
	width:100%;
	padding : 1%;
	background-color:green;
	color:white;
	border-radius:10px;
}

#boutondejainscrit:hover{
	background-color:rgb(120, 223, 120);
	cursor:pointer;
}

