@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-top: 0%;
    margin-bottom: 1%;
}
#lien {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 6%;
    padding-top: 3%;
    text-decoration: none;
}
#logo img {
    width: 100%;
}
#logo {
    width: 8%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top:0.5%;
}

#photo1 {
    width: 200px;
}

body {
    font-family: 'Signika', sans-serif;
}

#astuces {
	display:flex;
    justify-content: space-between;
}
#cuisine, #menage, #dechet, #engagement {
    width: 34%;
    border:1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    text-align:center;    
    padding:2%;
}

#engagement {
	background-color:#e0e0e0; 
	margin-left: 30%;
	margin-top: 5%;
}

#boutonVegan {
	padding:1% 1%;
	border-radius:5px;
	border-style:solid;
	background-color: #FDD390;
}
#boutonVegan:hover{
	cursor:pointer;
	background-color: #37f52e;
}

footer {

    background-color: #FDD390;
    color: #a3a9ab;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;


}

ul {

    text-decoration: none;

}

.lienfooter {
    color:grey;
}

#liensfooter {
    padding : 1%;
    display: flex;
    justify-content: flex-end;
}

#logofooter img {

    width: 44%;

}