@charset "UTF-8";

body {

    font-family: 'Signika', sans-serif;


}

* {
    box-sizing: border-box;
}

	
#connexion{

	border-radius:5px;
	border-style:solid;
	background-color:transparent;
}
#connexion:hover{
	cursor:pointer;
	background-color: #FDD390;
} 

#déconnexion{
	padding:0.8% 1%;
	border-radius:5px;
	border-style:solid;
	background-color: white;
	position:absolute;
	z-index:1;
	right:0.8%;
	top:10%;
	background-color:transparent;
	margin:0;	
}
#déconnexion:hover{
	cursor:pointer;
	background-color: #FDD390;
}


.card {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    overflow: hidden;
    transition: box-shadow 0.3s ease 0s;
    width: 100%;
    
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/************Fin Card date***********/
/************Image*************/

.card__thumb {
    background-color: #000;
    height: 235px;
    overflow: hidden;
    transition: height 0.3s ease 0s;
  
}

.card__thumb img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

.card:hover .card__thumb {
    height: 90px;
}

/**************Body***************/

.card__body {
    height: 185px;
    padding: 20px;
    position: relative;
    transition: height 0.3s ease 0s;
}

.card:hover .card__body {
    height: 330px;
}

/*******Catégorie**********/

.card__category {
    background-color: #38c4a5;
    color: #fff;
    font-size: 11px;
    height: 25px;
    left: 0;
    line-height: 25px;
    padding: 0 15px;
    position: absolute;
    text-transform: uppercase;
    top: -25px;
}

/**********Titre*********/

.card__title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
}

.card:hover .card__title {
    animation: 0.3s ease 0s normal none 1 running titleBlur;
	}

.card__subtitle {
    color: #38c4a5;
    font-size: 19px;
    margin: 0;
    padding: 0 0 10px;
}

/*********Paragraphe*********/

.card__description {
    bottom: 65px;
    color: #666c74;
    font-size: 14px;
    left: 20px;
    line-height: 27px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    transform: translateY(25px);
    transition-delay: 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: opacity, transform;
    transition-timing-function: ease, ease;
}

.card:hover .card__description {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}

/********Footer*******/

.card__footer {
    bottom: 20px;
    color: #a3a9ab;
    font-size: 11px;
    left: 20px;
    position: absolute;
    right: 20px;
}

.card__footer .icon--comment {
    margin-left: 12px;
}

.icon {
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.icon--comment {
    background: url("images/picto2.png") repeat scroll 0 0;
    height: 14px;
    margin-top: -2px;
    width: 14px;
	opacity: 0.4;
}

.icon--time {
    background: rgba(0, 0, 0, 0) url("images/picto1.png") repeat scroll 0 0;
    height: 14px;
    margin-top: -3px;
    width: 14px;
	opacity: 0.4;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-top: 0%;
    margin-bottom: 1%;
}

#lien {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 6%;
    padding-top: 3%;
    text-decoration: none;
}


#logo img {
    width: 100%;
}

#logo {
    width: 8%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top:0.5%;
}

#photo1 img, #photo2 img{
    width: 100%;
    
}
 
#photo1 {
    width: 132%;
}

#photo2 {
    width: 105%;
}

#video1 {
    width: 34%;
    border:1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);    
}

#video1 iframe {
    width: 100%;
}

#bloc1, #bloc2 {
    display: flex;
}

#bloc1 {
    margin-bottom: 1%;
}

#bloc2 {
    justify-content: space-between;
}

#action1 {

    width: 100% ;
    margin-left: 2%;
    margin-right: 2%;

    border:1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);   

}

#recette1, #recette2 {

    width: 30%;
    border:1px solid rgba(0, 0, 0, 0.13);
    

}

<<<<<<< HEAD
#photoAction {

    width: 100%;
    height: 40%;
=======
#boutonEcolo {
	padding:3% 5%;
	border-radius:5px;
	border-style:solid;
	background-color: #FDD390;
	margin-bottom: 10%;
}
>>>>>>> 1e805448ea30dc2833185f72c9311c45de0d5a3f

}

#photoAction {

    background-image:url("http://preprod.livegazettenms.id2geek.com/media/cache/original/rc/NkdP33Ns/uploads/images/20/sujet/19125_5a37cd7e5a81c_action-vegan--des-membres-humains-exposes-sur-la-comedie.png");
    height: 58.3%;
}

footer {

    background-color: #FDD390;
    color: #a3a9ab;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;


}

ul {

    text-decoration: none;

}

.lienfooter {
    color:grey;
}

#liensfooter {
    padding : 1%;
    display: flex;
    justify-content: flex-end;
}

#logofooter img {

    width: 44%;

}

#texteAction {
	
    padding-bottom: 2%;
    text-align: justify;
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 0.3%;
}
	
#texteVideo {
	
	padding-left: 2%;
	
}

h5 {
    color: #38c4a5;
}

#infos_parti